.nav-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-welcome {
  float: left;
}

.nav-btn {
	float: right;
}

.message {
  padding: 16px;
  margin: 32px auto 0;
  max-width: 400px;
  color: white;
  border-radius: 4px;
  text-align: center;
  border-radius: 15px;
  font-size: 20px;
}

.app-title {
  display: block;
  border: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  color: #000;
  background-color: transparent;
  border-radius: 4px;
  float:  right;
}

.log-btn {
  display: block;
  border: 0;
  cursor: pointer;
  padding: 12px 18px;
  width: 100px;
  margin: 12px 18px auto 0;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #3498db;
  border-radius: 4px;
  float:  right;
}

.error {
  background-color: orangered;
}

.ok {
  background-color: lightgreen;
}