.wrap {
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

.popup-view {
  padding: 16px 16px 64px 16px;
  margin: 32px auto 0;
  background: #fff;
  border-radius: 4px;
  width: 50%;
}

.popup-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background: transparent;
  border: transparent;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.nav-message {
  float: left;
}

.nav-close {
  float: right;
}

.login-btn {
  display: block;
  border: 0;
  cursor: pointer;
  padding: 12px 18px;
  width: 200px;
  margin: 12px 18px auto 0;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #3498db;
  border-radius: 4px;
  float: left;
}

.form-label {
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  color: #2c3e50;
}

.form-login {
  padding: 8px;
  width: 100%;
  font-size: 14px;
  border: 1px solid #dedede;
  border-radius: 4px;
  transition: border-color .25s ease-out;
}

.form-login:focus {
  border-color: #3498db;
  box-shadow: 0 0 2px #3498db;
  outline: 0;
}